@import "tailwindcss";

@theme {
  --color-primary: #0056D2;
  --color-secondary: #4DA1FF;
  --color-background: #FFFFFF;
  --color-foreground: #171717;
  
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-sans), sans-serif;
  }
}

